header{
    padding-bottom: 40px;
}

footer {
    padding: 20px 0;
    text-align: center;
  }

  footer .social-icons {
    margin-bottom: 10px;
  }

  footer .social-icons a {
    color: #222;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
  }

  footer .social-icons a:hover {
    color: rgb(112, 173, 173);
  }
  
.package-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.package {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.package img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.package-content {
  padding: 15px;
}

.package-content h3 {
  margin-top: 0;
}

.package-content h6 {
  color: #777;
}

.package-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.package-content button:hover {
  background-color: #0056b3;
}
